/* Utilities */

.pos-relative {
    position: relative!important;
}

.pos-absolute {
    position: absolute!important;
}

.full-height {
    min-height: 100vh;
}

/* Heading */

.bi-logo1 {
    padding: 1rem 15px;
    color: black;
    background-color: white;
}
.title.justify-content-center.row {  
    font-size: 25px;
     margin-bottom: 2rem;
  
}

/* Body Styles */

#appBody {
    background: white;
}

button { 
    text-transform:none!important;
}

.btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
    color: white!important;
    background-color: gray!important;
    background-image: none;
    border-color: #adadad;
}


span.d-inline-block.w-100.attribution-label.count-holder {
    padding-top: 1rem;
    font-size: 14px;
}
button.btn.btn-secondary {
  margin: .5rem;
}
.bi-widgetselection {
  padding: .5rem 15px;
  margin-bottom: 1.5rem;
  color: white;
  text-align: center;
  background-color: lightgrey;
}

.bi-geoselection {
  padding: 1rem 10px;
  margin-bottom: 1.5rem;
  color: white;
  text-align: center;
  background-color: black;
}

.bi-bannertop1 {
  padding: .5rem 10px;
  color: white;
  font-family: ProximaNova, sans-serif;
  font-size: 50px;
}
.bi-bannerbottom1 {
  padding: .5rem;
  color: white;
  font-family: ProximaNova, sans-serif;
  font-size: 30px;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Widget Loading Spinner */
.markettrends.loading .chart-body{
    display: none!important;
}

.markettrends.loading:after {
    content: "Loading...";
    display:block;
    position: absolute;
    top: 180px;
    left: 50%;
}

.loader.msg {
    top: 50%;
    left: 50%;
    color: #c0c0c0;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


/* Widget Container Styles */

.widgetContainer, .widgetHolder {
    min-height: 400px;
}

.btn-group-period {
    top: -79px;
    left: 323px;
}

/* Period Selector Buttons */
button.periodType.dropdown-item:before {
    content: '\002714';
    visibility: hidden;
    padding: 0 .5rem;
}

button.periodType.dropdown-item.isActive:before {
    visibility: visible;
}