.bi-logo1 {
    padding: 1rem 15px;
    color: black;
    background-color: white;
}
button.btn.btn-secondary {
  margin: .5rem;
}
.bi-widgetselection {
  padding: 1rem 15px;
  margin-bottom: 1.5rem;
  color: white;
  text-align: center;
  background-color: whitesmoke;
}

.bi-geoselection {
  padding: 1rem 15px;
  margin-bottom: 1.5rem;
  color: white;
  text-align: center;
  background-color: black;
}

.bi-bannertop {
  padding: 1rem 10px;
  color: white;
  font-family: ProximaNova, sans-serif;
  font-size: 40px;
}
.bi-bannerbottom {
  padding: .25rem;
  color: white;
  font-family: ProximaNova, sans-serif;
  font-size: 30px;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
